@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-color: #b66d6d;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}



.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid rgb(255, 231, 235);
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo {
    font-family: "Righteous", sans-serif;
    color: rgba(255, 242, 231, 1);
    font-weight: 400;
    font-size: 64px;
}

.conteudo-principal-escrito-subtitulo {
    font-family: "Sarala", sans-serif;
    color: rgba(236, 214, 196, 1);
    font-weight: 400;
    font-size: 24px;
}
 
 .conteudo-principal-escrito-descricao-secundaria {
    font-family: "Sarala", sans-serif;
    color: rgba(236, 214, 196, 1);
    font-weight: 400;
    font-size: 15px;
 }

.conteudo-principal-escrito-botao {
    font-family: "Sarala", sans-serif;
    background-color:rgba(236, 214, 196, 1);
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: "Sarala", sans-serif;
    color: rgba(47, 35, 37, 1);
    font-weight: 400;
    font-size: 24px; 
}

.conteudo-principal-escrito-botao:hover{
    color: rgb(230, 86, 206);
}

.conteudo-principal-escrito-botao-github {
    font-family: "Sarala", sans-serif;
    background-color:rgba(236, 214, 196, 1);
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: "Sarala", sans-serif;
    color: rgba(47, 35, 37, 1);
    font-weight: 400;
    font-size: 24px; 
}

.conteudo-principal-escrito-botao-github:hover {
    color: rgb(230, 86, 206);
}

.conteudo-principal-imagem {
    height: 500px;
    padding: 34px;
}


